* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
}

.cartao {
    height: 200px;
    width: 260px;
    }

.cartao-imagem {
    width: 100%;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: black;
}

main{
    flex: 1;
    flex-direction: column;
    align-items: center;
    display: flex;
    ;
}

.cabecalho-link {
    color: black;
    text-decoration: none;
}

h1{
    color: black;
    font-size: 124px;
}

footer{
    background-color: aqua;
    padding: 15px 25px;
    color:aqua;
}

.cartao-interno{
    position: relative;
    transition: tranform 0.8s;
    transform-style: preserve-3d;
}

.cartao-frente,
.cabecalho-verso {
    position:absolute;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    backface-visibility: hidden;
}

.cartao-verso  {
    transform: rotateY (180deg);

}
.cartao:hover .cartao-interno { 
  transform: rotateY(180deg); 
} 

section { 
  display: flex; 
  gap: 16px; 

} 